table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.cartContainerDetail{
  width: 60%;
  margin: auto;
}

  
#btnRemoveItem{
  background-color: #706fd3;
  border: none;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  color:white;
  font-weight: bold;
  border-radius: 10px;
}

#btnClearCart{
  margin: 15px;
  background-color: #706fd3;
  border: none;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  color:white;
  font-weight: bold;
  border-radius: 10px;
}

.clearCart{
  background-color: rgba(182, 182, 182, 0.212);
  width: 400px;
  height: 150px;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.clearCart p{
  text-align: center;
}

.clearCart button{
  margin: auto;
}


.clearCart button{
    background-color: #706fd3;
    border: none;
    box-sizing: border-box;
    padding: 10px 20px;
    cursor: pointer;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 35%;
}

.detail{
  display: flex;
  align-items: center;
}

.detail p{
  margin-left: 15px;
  font-weight: bold;
}

.detail p span{
  font-weight: normal;
  font-size: 10px;
  color: #bbbbbb;
}

.totalCart{
  margin-left: 80%;
  padding-bottom: 25px;
}

.totalCart p{
  font-weight: bold;
  font-size: 24px;
}

.editCount button{
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  background-color: #706fd3;
  box-sizing: border-box;
  padding: 5px 10px;
}
.editCount button:hover{
  background-color: #5453a0;
}

.editCount span{
  box-sizing: border-box;
  padding: 0 10px;
}

.cartTitle{
  text-align: center;
}

.totalCart a button {
    margin-top: 5px;
    background-color: #706fd3;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    color:white;
    font-weight: bold;
    border-radius: 10px;
}