.ItemListContainer{
    width: 90%;
    margin: auto;
}

.ItemListContainer img{
    width: 100px;
}

.Items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.textTitle{
    text-align: center;
}