.cartAdd button{
    border: none;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    background-color: #706fd3;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.item button:hover{
    background-color: #6160a8;
}

#btnGoCart{
    background-color: #706fd3;
    border: none;
    box-sizing: border-box;
    padding: 10px 20px;
    cursor: pointer;
    color:white;
    font-weight: bold;
    margin-top: 50%;
    border-radius: 10px;
}