.header {
    background-color: #706fd3;
    height: 60px;
    width: 100%;
}
.container{
    width: 90%;
    height: 70px;
    display: flex;
    margin: 0 auto;
}
.logo{
    width: 50%;
}
.logo a{
    width: 10%;
    display: flex;
    align-items: center;
    color: #f7f1e3;
}
.logo img{
    max-width: 70%;
    max-height: 70%;
}
.navegation{
    width: 50%;
}
.navegation ul{
    list-style: none;
}
.navegation ul li{
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
}
.navegation ul li a{
    color: #f7f1e3;
    text-decoration: none;
    font-weight: 700;
}
.navegation ul li a:hover{
    color: #34495e;
}

#shoppingCart{
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #ecf0f1;
}
#shoppingCart a{
    color: #34495e;
}
.activeLink{
    color: #34495e!important;
}

@media (max-width:768px){
    .navegation{
        width: 70%;
    }
    .logo{
        width: 30%;
    }
}

#hambuguerIcon{
    display: none;
}
@media (max-width:426px){
    #hambuguerIcon{
        display: unset;
        margin-left: 60%;
        cursor: pointer;
    }
    .container{
        height: 10px;
        flex-direction: column;
    }
    .logo{
        height: 60px;
        width: 100%;
    }
    .navegation{
        animation: fadeInLeft;
        animation-duration: .5s;
        width: 100%;
        position: relative;
        background-color: white;
        box-shadow: 0px 5px 15px -3px #000000;
    }
    .navegation ul{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 10px 5px;
    }
    .navegation ul li{
        box-sizing: border-box;
        padding: 10px;
    }
    .navegation ul li a{
        color: black;
    }
    .logo img{
        max-width: 50%;
        max-height: 50%;
    }
}